# Visual Studio related files
**/.vs/
.vscode/
*.suo
*.user
*.sln.docstates
*.userprefs
*.suo
*.gpState

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.suo
*.suo
*.user
*.user

# Compiled binary files
**/bin/
**/obj/